.tags-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.125rem;

	& .tags-title {
		font-size: 1.25rem;
		font-weight: 500;
		color: var(--app-color);
		text-decoration: underline;
		margin-bottom: 0.5rem;
	}

	& .tag-choices-container {
		width: 95%;
		max-width: 57rem;
		display: flex;
		flex-wrap: wrap;
		row-gap: 2rem;
		justify-content: flex-start;

		& .tag-choice {
			flex-basis: calc(100% / 3);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: clamp(0.5rem, 0.318rem + 0.909vw, 1rem);
			@media (min-width: 432px) {
				flex-basis: 25%;
			}
			@media (min-width: 720px) {
				flex-basis: calc(100% / 6);
			}

			& .tag-choice-checkbox {
				appearance: none;
				aspect-ratio: 1/1;
				width: 1rem;
				border: 0.0625rem solid var(--app-color);
				border-radius: 0.25rem;
				&:active {
					filter: brightness(90%);
				}
				&:focus {
					box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
				}
				&:checked {
					background-color: rgb(13, 110, 253);
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
				}
			}

			& .tag-choice-img-wrapper {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				& .tag-choice-img {
					width: clamp(1.75rem, 1.477rem + 1.364vw, 2.5rem);
					filter: drop-shadow(0.5rem 0.5rem 0.125rem hsla(0, 0%, 60%, 0.75));
				}

				& .tooltip-text {
					visibility: hidden;
					background-color: hsla(0, 5%, 75%, 0.65);
					font-size: 0.875rem;
					font-weight: 300;
					line-height: 1.125;
					color: var(--app-color);
					text-align: center;
					border-radius: 0.75rem;
					padding: 0.25rem 0.375rem;
					position: absolute;
					top: -1.5rem;
					left: 50%;
					transform: translateX(-50%);
					z-index: 1;
				}
				&:hover > .tooltip-text {
					visibility: visible;
				}
			}
		}
	}
}
